{% extends 'blogs/base.html' %}
{% load static %}
{% block title %} Blog - {{blog.title}} {% endblock title %}
{% block main %}
  <div id="leftPan">
    <h2>{{ blog.title }}</h2>
    <img src="{{blog.thumbnail.image.url}}" alt="" height="90px">
    <p style="color: white;">{{ blog.description }}</p>
    {% if blog.author == request.user or request.user.is_superuser %}
      <a href="{% url 'blog_update' blog.pk %}" class="link">Editar |</a>
      <a href="{% url 'blog_delete' blog.pk %}" class="link">Eliminar |</a>
    {% endif %}
    {% if request.user.is_authenticated %}
    <a href="{% url 'post_create' blog.pk %}" class="link">Agregar respuesta |</a>
    {% endif %}
    <a href="{% url 'Home' %}" class="link">Volver a Home</a>
    <h2>Posts Relacionados</h2>
    
    {% if page_obj.object_list %}
        {% for post in page_obj.object_list %}
          <div>
            <p style="color: white;">{{ post.content }}</p>
            <p> Autor:{{ post.author }}</p>
            <p>Publicado el: {{ post.created_at|date:"d M Y" }}</p>
            
            {% if post.author == request.user %}
              <a href="{% url 'post_update' post.pk %}" class="link"> Modificar |</a>
            {% endif %}
            
            {% if post.author == request.user or request.user.is_superuser %}
              <a href="{% url 'post_delete' post.pk %}" class="link">Eliminar</a>
            {% endif %}
          </div>
        {% endfor %}
      
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a href="?page=1" class="link">&laquo; primero</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="link">anterior</a>
          {% endif %}
          
          <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
          </span>
          
          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="link">siguiente</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="link">último &raquo;</a>
          {% endif %}
        </span>
      </div>
    {% else %}
      <p>No hay posts relacionados para este blog.</p>
    {% endif %}
  </div>
  <div id="middlePan">
    <h2>
      Publications<br />
      <span>on {{ month_name }} {{ year_four_digits }}</span>
    </h2>
    <div id="middleulPan">
      <ul>
        <li class="one">
          {{latest_blogs.0.title}} <br/>
          {{latest_blogs.0.author}}
          <span> <br /> {{latest_blogs.0.created_at|date:"d M Y"}}</span>
        </li>
        <li class="two">
          {{latest_blogs.1.title}} <br/>
          {{latest_blogs.1.author}}
          <span> <br /> {{latest_blogs.1.created_at|date:"d M Y"}}</span>
        </li>
        <li class="three">
          {{latest_blogs.2.title}} <br/>
          {{latest_blogs.2.author}}
          <span> <br /> {{latest_blogs.2.created_at|date:"d M Y"}}</span>
        </li>
        <li class="four">
          {{latest_blogs.3.title}} <br/>
          {{latest_blogs.3.author}}
          <span> <br /> {{latest_blogs.3.created_at|date:"d M Y"}}</span>
        </li>
        <li class="five">
          {{latest_blogs.4.title}} <br/>
          {{latest_blogs.4.author}}
          <span> <br /> {{latest_blogs.4.created_at|date:"d M Y"}}</span>
        </li>
      </ul>
    </div>
    <div id="middlecaptionPan">
      <h3>
        for our<br />
        <span>GOODWILL</span>
      </h3>
      <p>
        &quot;tellus.faucibus aliquam. In faucibus aliquet velit. Vivamus eget
        mauris. mnec Cras condimentum ullamcorper pede. Sed nec elitfaucibus
        aliquam&quot;
      </p>
      <p align="right"><span>l stephens</span></p>
    </div>
  </div>

{% endblock main %}