{% extends 'blogs/base.html' %} 
{% load static %} 
{% block title%} Confirmar Eliminación {%endblock title %}

{% block main %}
  <div id="leftPan">
      <h2>Confirmar eliminación del post</h2>
    
      <p>¿Estás seguro de que deseas eliminar este blog?</p>
    
      <div class="post-details">
        <p><strong>Blog:</strong> {{ blog.title }}</p>
        <p><strong>Autor:</strong> {{ blog.author }}</p>
        <p><strong>Contenido:</strong> {{ blog.content }}</p>
      </div>
    
      <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'blog_detail' blog.pk %}" class="btn btn-secondary">Cancelar</a>
      </form>
  </div>
  <div id="middlePan">
    <h2>
      Publications<br />
      <span>on {{ month_name }} {{ year_four_digits }}</span>
    </h2>
    <div id="middleulPan">
      <ul>
        <li class="one">
          {{latest_blogs.0.title}} <br/>
          {{latest_blogs.0.author}}
          <span> <br /> {{latest_blogs.0.created_at|date:"d M Y"}}</span>
        </li>
        <li class="two">
          {{latest_blogs.1.title}} <br/>
          {{latest_blogs.1.author}}
          <span> <br /> {{latest_blogs.1.created_at|date:"d M Y"}}</span>
        </li>
        <li class="three">
          {{latest_blogs.2.title}} <br/>
          {{latest_blogs.2.author}}
          <span> <br /> {{latest_blogs.2.created_at|date:"d M Y"}}</span>
        </li>
        <li class="four">
          {{latest_blogs.3.title}} <br/>
          {{latest_blogs.3.author}}
          <span> <br /> {{latest_blogs.3.created_at|date:"d M Y"}}</span>
        </li>
        <li class="five">
          {{latest_blogs.4.title}} <br/>
          {{latest_blogs.4.author}}
          <span> <br /> {{latest_blogs.4.created_at|date:"d M Y"}}</span>
        </li>
      </ul>
    </div>
    <div id="middlecaptionPan">
      <h3>
        for our<br />
        <span>GOODWILL</span>
      </h3>
      <p>
        &quot;tellus.faucibus aliquam. In faucibus aliquet velit. Vivamus eget
        mauris. mnec Cras condimentum ullamcorper pede. Sed nec elitfaucibus
        aliquam&quot;
      </p>
      <p align="right"><span>l stephens</span></p>
    </div>
  </div>
{% endblock main %}
